
*{
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #f0f8ff;
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}