.logout-btn {
    margin-top: 20px;
    height: 40px;
    width: 10vh;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
}
  
.logout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
.logout-btn:hover {
    background-color: #0056b3;
}